* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.encabezado {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10%;
  background-color: grey;
  color: lavender;
}

a {
  color: gold;
  font-size: 22px;
  margin: 5px 5px 5px 5px;
}

.enlaces {
  color: white;
}

.loading {
  margin: 5px 5px 5px 5px;
  color: blue;
  font-size: 50px;
}

.stock {
  margin: 50px 50px 50px 50px;
  background-color: grey;
}

.card {
  justify-content: space-between;
}

.letrasNavBar{
  color: white;
}